<mat-toolbar style="background-color: rgb(255, 168, 97);" color="primary">
  <span>Principal</span>
  <span class="spacer"></span>
  <button mat-button routerLink="/Inicio">Inicio</button>
  <button mat-button routerLink="/acerca">Acerca de</button>
  <button mat-button routerLink="/Contacto">Contacto</button>

  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/profile">Perfil</button>
    <button mat-menu-item routerLink="/settings">Configurar</button>
    <button mat-menu-item routerLink="/login">Cerrar Sesión</button>
  </mat-menu>
</mat-toolbar>


<mat-toolbar class="color-barra">
</mat-toolbar>

<div class="home-container">
    <mat-card class="welcome-card">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Material Design Image">
        <mat-card-title>Bienvenido</mat-card-title>
        <mat-card-content>
            <p>Este es tu inicio con Angular y Material Design.</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button color="accent" href="https://material.angular.io/components/categories" target="_blank">Comenzar</a>
        </mat-card-actions>
    </mat-card>
</div>
